frontend/Traning Reference/xml xsd/student.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string">
                <xs:complexType>
                  <xs:simpleContent>
                      <xs:attribute name="type" type="xs:string"/>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="age" type="xs:byte"/>
              <xs:element name="email"  type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="category"  type="xs:string"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="section"  type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>